* {
    font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}


body {
    background-color: rgb(242, 248, 250);
    margin:20px;
}

.j-card {
}

.j-card .hidden {
    display: none;
}

h2 {
    margin-bottom: -2px;
}

h3 {
    margin-bottom: -8px;
}

ul {
    margin-left:0px; padding-left:20px; list-style-type:square;
}

.error{
    color:red
}

.row.space-top{
    margin-top: 10px;
}

.center-content{
    text-align: center;
}

.float-right{
    float:right;
}


.j-textarea {
    width: 50%;
    height: 512px;
}

.j-loading-big span {
    background: rgba(0,0,0,0) url(../images/jive-image-loading.gif) no-repeat ;
    background-size: 20px 20px;
    padding: 5px 10px;
}

.bootstrap-select-overlay{
    position: relative;
    height: 34px;
}

.bootstrap-select-overlay #loader{
    position: absolute;
    top:10px;
    left:5px;
}

.bootstrap-select-overlay .j-loading-big span {
    padding: 5px 10px;
}

.btn.closed,.btn.open{
    background-color: #cccccc;
}

.btn.open.active,.btn.open:hover{
    background-color: #6cc644;
}

.btn.closed.active,.btn.closed:hover{
    background-color: #bd2c00;
}

.btn.greyInActive{
    background-color: #cccccc;
}

.btn.bug:hover,.btn.bug.active{
    background-color: #ac1010;
}
.btn.duplicate:hover,.btn.duplicate.active{
    background-color: #999999;
}
.btn.enhancement:hover,.btn.enhancement.active{
    background-color: #64a6c6;
}
.btn.invalid:hover,.btn.invalid.active{
    background-color: #c6c6c6;
    color:black;
}
.btn.question:hover,.btn.question.active{
    background-color: #aa255c ;
}
.btn.wontfix:hover,.btn.wontfix.active{
    background-color: #000000;
    color:white;
}