<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
  <ModulePrefs title="GitHub4Jive"
               description="Connect your GitHub repo to Jive to collaborate on Issues, Commits and Pull Requests and manage your repo."
               author="Jive Community"
               author_affiliation="Jive Software (Open Source)"
               author_email="jivedev@jivesoftware.com">

        <Link rel="Icon"       href="images/icon16.png" />
        <Link rel="MediumIcon" href="images/icon48.png" />
        <Link rel="LargeIcon"  href="images/icon128.png" />

        <Link rel="Screenshot1" href="images/screenshot01.png" />
        <Link rel="Screenshot2" href="images/screenshot02.png" />
        <Link rel="Screenshot3" href="images/screenshot03.png" />
        <Link rel="Screenshot4" href="images/screenshot04.png" />


	    <Require feature="dynamic-height" />
		<Require feature="settitle"/>
		<Require feature="views" />
        <Require feature="embedded-experiences" />
        <Require feature="jquery-1.6"/>
        <Require feature="osapi"/>
        <Require feature="opensocial-data"/>
        <Require feature="jive-core-v3"/>
        <Require feature="jive-core-v3-resolver"/>
        <Require feature="oauthpopup"/>
        <Require feature="actions">
            <Param name="action-contributions">            
                <![CDATA[

                    <action id="com.jivesoftware.addon.github4jive.embed.issue"
                          path="jive/actions/rte"
                          label="Insert GitHub Issue"
                          view="github4jive-issue-embed"
                          icon="images/icon16.png" />

                     <action id="com.jivesoftware.addon.github4jive.project.newIssue"
                          path="jive/actions/places/project?filter=exists(context.extprops.github4jiveEnabled)"
                          label="Create New GitHub Issue"
                          view="github4jive-issue-new"
                          icon="images/icon16.png" />

                     <action id="com.jivesoftware.addon.github4jive.group.newIssue"
                          path="jive/actions/places/group?filter=exists(context.extprops.github4jiveEnabled)"
                          label="Create New GitHub Issue"
                          view="github4jive-issue-new"
                          icon="images/icon16.png" />

                      <action id="com.jivesoftware.addon.github4jive.space.newIssue"
                          path="jive/actions/places/space?filter=exists(context.extprops.github4jiveEnabled)"
                          label="Create New GitHub Issue"
                          view="github4jive-issue-new"
                          icon="images/icon16.png" />

                    <action id="com.jivesoftware.addon.github4jive.project.config"
                          path="jive/settings/places/project"
                          label="Configure GitHub4Jive"
                          view="github4jive-place-config"
                          icon="images/icon16.png" />

                    <action id="com.jivesoftware.addon.github4jive.group.config"
                          path="jive/settings/places/group"
                          label="Configure GitHub4Jive"
                          view="github4jive-place-config"
                          icon="images/icon16.png" />

                    <action id="com.jivesoftware.addon.github4jive.space.config"
                          path="jive/settings/places/space"
                          label="Configure GitHub4Jive"
                          view="github4jive-place-config"
                          icon="images/icon16.png" />

                    <action id="com.jivesoftware.addon.github4jive.space.tab"
                          path="jive/tabs/places/space?filter=exists(context.extprops.github4jiveEnabled)"
                          label="GitHub"
                          view="github4jive-place-tab" />

                    <action id="com.jivesoftware.addon.github4jive.group.tab"
                          path="jive/tabs/places/group?filter=exists(context.extprops.github4jiveEnabled)"
                          label="GitHub"
                          view="github4jive-place-tab" />                          

                    <action id="com.jivesoftware.addon.github4jive.project.tab"
                          path="jive/tabs/places/project?filter=exists(context.extprops.github4jiveEnabled)"
                          label="GitHub"
                          view="github4jive-place-tab" />

                ]]> 
		</Param>  
	</Require>

    <!-- OAuth Services: https://developers.jivesoftware.com/community/docs/DOC-1161 -->
    <!--
    <OAuth>
      <Service name="example">
        <Access url="http://api.example.com/oauth/access_token" method="POST" />
        <Request url="http://api.example.com/oauth/request_token" method="POST" />
        <Authorization url="http://api.example.com/oauth/authorize" />
      </Service>
    </OAuth>
    -->

    <!-- Lifecycle Events: https://developers.jivesoftware.com/community/docs/DOC-1119 -->
    <!--
    <Link rel="event.addapp" href="http://www.example.com/add" />
    <Link rel="event.removeapp" href="http://www.example.com/remove" />
    -->

    <!-- Preloaded Content: http://wiki.opensocial.org/index.php?title=Remote_Data_Requests_%28v0.9%29#Preloading_data -->
    <!--
    <Preload href="http://www.example.com" />
    -->

  </ModulePrefs>

  <!-- User Preferences: http://code.google.com/apis/gadgets/docs/reference.html#Userprefs_Ref -->
  <!--
  <UserPref name="where_i_live" display_name="Where I Live" datatype="string" default_value="" required="false" />
  <UserPref name="subscribe_to_newsletter" display_name="Subscribe to Newsletter" datatype="bool" default_value="" required="false" />
  <UserPref name="difficulty"
       display_name="Difficulty"
       datatype="enum"
       default_value="2">
    <EnumValue value="1" display_value="Easy"/>
    <EnumValue value="2" display_value="Medium"/>
    <EnumValue value="3" display_value="Hard"/>
  </UserPref>
  -->

  <!-- To begin development, remove the hello view and uncomment the home and canvas views below -->
  <Content type="html" view="home,canvas" href="canvas.html" preferred_height="400" />
  <Content type="html" view="github4jive-issue-embed" href="issue-embed.html" preferred_height="400" />
  <Content type="html" view="github4jive-issue-new" href="issue-new.html" preferred_height="400" />
  <Content type="html" view="github4jive-issue-view" href="issue-view.html" preferred_height="400" />
  <Content type="html" view="github4jive-place-config" href="place-config.html" preferred_height="400" />
  <Content type="html" view="github4jive-place-tab" href="place-tab.html" preferred_height="400" preferred_width="400"/>


  <!--
  <Content type="html" view="home" href="home.html" preferred_height="400" />
  <Content type="html" view="canvas" href="canvas.html" />
  -->

</Module>
